

// Footer  ///////////////////////////////////////////////////////////////////////////////


.footer-wrapper {
	
	background-color: @grey-lighter;
	border-top:1px solid @grey-light;
	margin-top: 2em;
}
   
footer {
 
	 
	 color: @text-color;
	 
	 
	 a {
		 
		 color: @footer-default-link-color;
		 
	 }
	 


	 
	 
	 section {
		 
		 padding: 1em 0 1em 0;
		   
		  
	 }
	 
	 
	 .social {
	
	margin-left:3em;
	
		a{
		
		color: @text-color;
		line-height: 2em;
		
		}
	}
	
	
	h4 {
		
		color: @text-color;
		text-transform: uppercase;
		
	}

	 
	 

	 	
	 
		 
	 


 }
 
 
