
body {
	
	font-family: @site-font3;

}



//  Headings





h1, h2, h3, h4, h5, h6 {
	
	
	font-family: @site-font1;
	font-weight:600;
	text-rendering: optimizeLegibility;
	color:@gray-dark;
	

	
	
	
	
}

 h3, h4, h5, h6 { 
 
 
 font-weight: 500;




 }




//  Serif if inside header 

header h1 {
	
	font-family: @site-font2;
	text-rendering: optimizeLegibility;
	font-weight: 400;
	text-transform: none;

	
}


.lead { 

	font-weight:300;
	font-family: @site-font1;

	
	
	}
	
	

aside.l-left {
	
	h4,h3,h5 {
		
		text-transform: uppercase;
		font-weight: 500;
	}
}

