

// LESS variables ///////////////////////////////////////////////////////////////////////////////


@imgPath: '../img/';
@icon-font-path:          "fonts/";

// Fonts
// ----

@site-font1: 'Raleway', sans-serif;
@site-font2: 'Droid Serif', serif;
@site-font3: 'Open Sans',  sans-serif;

// Base Text Color
// -------------------------

@text-color:  hsl(0, 0%, 33%); //#545454

//** Unit-less `line-height` for use in components like buttons.
@line-height-base:        1.5; // 21/14
@headings-line-height:    1.3;


// Greys
// -------------------------

@grey-darker:            hsl(0, 0%, 50%); // #808080
@grey-dark:              hsl(0, 0%, 60%); // #999999
@grey:                   hsl(0, 0%, 75%); // #bfbfbf
@grey-light:             hsl(0, 0%, 88%); // #e0e0e0
@grey-lighter:           hsl(0, 0%, 94%); // #f2f2f2


@black:  hsl(0, 0%, 0%);
@white:  hsl(0, 0%, 100%);

// Brand colors
// ------------------------- 

@brand-primary:  	hsl(215,52%,39%); // Mid blue
@brand-secondary1: 	hsl(222,69%,27%); // Dark blue
@brand-secondary2: 	hsl(205,59%,59%); // Light blue
@brand-secondary3:  hsl(6,64%,46%); // Mid red
@brand-secondary4: 	hsl(5,79%,57%); // Light red
@brand-secondary5: 	hsl(37,90%,51%); // Yellow


@navbar-default-link-color: @white;
@navbar-default-link-hover-color: @white;
@navbar-default-link-hover-bg: darken(@brand-secondary1, 7%);
@navbar-default-link-active-color: @white;
@navbar-default-link-active-bg: darken(@brand-secondary1, 7%);


// Navbar toggle
@navbar-default-toggle-hover-bg:          @white; 
@navbar-default-toggle-icon-bar-bg:        #ccc;
@navbar-default-toggle-border-color:       #ddd;


// Reset borders
// ------------------------- 

@border-radius-base:        0px;


// Horizontal Rules
// 

@hr-border: @grey-light;



// Footer //

@footer-default-link-color: @brand-primary;
@footer-default-link-hover-color: @brand-primary;

// Breadcrumbs // 

@breadcrumb-bg: transparent;
@breadcrumb-color:    @white;


// Panels //

@panel-primary-text:          #fff;
@panel-primary-border:        @brand-primary;
@panel-primary-heading-bg:    @brand-primary;
@panel-primary-bg:    		 @brand-primary;

@panel-secondary1-text:          #fff;
@panel-secondary1-border:        @brand-secondary1;
@panel-secondary1-heading-bg:    @brand-secondary1;
@panel-secondary1-bg:    		 @brand-secondary1;


@panel-secondary2-text:          #fff;
@panel-secondary2-border:        @brand-secondary2;
@panel-secondary2-heading-bg:     @brand-secondary2;
@panel-secondary2-bg:    		 @brand-secondary2;


@panel-secondary3-text:          #fff;
@panel-secondary3-border:        @brand-secondary3;
@panel-secondary3-heading-bg:     @brand-secondary3;
@panel-secondary3-bg:    		 @brand-secondary3;


@panel-secondary4-text:          #fff;
@panel-secondary4-border:        @brand-secondary4;
@panel-secondary4-heading-bg:     @brand-secondary4;
@panel-secondary4-bg:    		 @brand-secondary4;

@panel-secondary5-text:          #fff;
@panel-secondary5-border:        @brand-secondary5;
@panel-secondary5-heading-bg:     @brand-secondary5;
@panel-secondary5-bg:    		 @brand-secondary5;


// Buttons //
 
@btn-font-weight:               600;

@btn-default-color:              @white;
@btn-default-bg:                 @brand-secondary2;
@btn-default-border:            darken(@brand-secondary2, 7%); 


@btn-light-color:              @text-color;
@btn-light-bg:                 @white;
@btn-light-border:            darken(@grey-light, 7%); 

@btn-primary-color:              #fff;
@btn-primary-bg:                 @brand-primary;
@btn-primary-border:          darken(@brand-primary, 7%);

@btn-secondary1-color:              #fff;
@btn-secondary1-bg:                 @brand-secondary1;
@btn-secondary1-border:             darken(@brand-secondary1, 7%);

@btn-secondary2-color:              #fff;
@btn-secondary2-bg:                 @brand-secondary2;
@btn-secondary2-border:             darken(@brand-secondary2, 7%);

@btn-secondary3-color:              #fff;
@btn-secondary3-bg:                 @brand-secondary3;
@btn-secondary3-border:             darken(@brand-secondary3, 7%);

@btn-secondary4-color:              #fff;
@btn-secondary4-bg:                 @brand-secondary4;
@btn-secondary4-border:             darken(@brand-secondary4, 7%);

@btn-secondary5-color:              #fff;
@btn-secondary5-bg:                 @brand-secondary5;
@btn-secondary5-border:             darken(@brand-secondary5, 7%);


@btn-grey-dark-color:              #fff;
@btn-grey-dark-bg:                 @grey-dark;
@btn-grey-dark-border:             darken(@grey-dark, 7%);


@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;


 @component-active-bg: @white;
 @component-active-color:  @text-color;
 
